nav {
	margin-top:2%;
	ul {
		padding-left:0px;
		margin-bottom:0px;
		li {
			color:$ucdavis-blue;
			margin-top:1%;
			margin-bottom:1%;	
			a {
				font-size:1.6rem;
				font-family:$sans-serif;
				text-decoration:none;
				color:$secondary-font;
			}
		}
	}
}