---
title: CA&amp;ES Web Projects
---
	<section class="main">
		<ol>
			<li></li>
			<li></li>
			<li></li>
			<li></li>
			<li></li>
		</ol>
	</section>	
	</div>
	
<section class="main">
	<table class="plain" style="width: 100%;">
    <tbody>
        <tr>
            <td class=" " style="width: 33%;">ID</td>
            <td class="td-66" style="width: 66%;">URLs</td>
        </tr>
        <tr class="live">
            <td><strong>ACE</strong>
                <br />
                <a href="http://ace-ucdavis.azurewebsites.net"><img alt="" src="http://ace-ucdavis.azurewebsites.net/favicon.ico" /></a>
            </td>
            <td><a class="external-link" href="http://ace.ucdavis.edu" target="_self" title="">http://ace.ucdavis.edu</a>
                <br /><a class="external-link" href="http://ace-comm.ucdavis.edu" target="_self" title="">http://ace-comm.ucdavis.edu</a></td>
        </tr>
        <tr class="live">
            <td>AfghanAg
                <br />
                <a href="http://169.237.124.123:8082/AfghanAg"><img alt="" src="http://169.237.124.123:8082/AfghanAg/favicon.ico" /></a>
            </td>
            <td><a class="external-link" href="http://eafghanag.ucdavis.edu" target="_self" title="">http://eafghanag.ucdavis.edu</a>
                <br />
                <br />
            </td>
        </tr>
        <tr class="live">
            <td>Agnewmedia
                <br />
                <a href="http://agnewmedia.ucdavis.edu"><img alt="" src="http://agnewmedia.ucdavis.edu/favicon.ico" /></a>
            </td>
            <td><a class="external-link" href="http://agnewmedia.ucdavis.edu" target="_self" title="">http://agnewmedia.ucdavis.edu</a></td>
        </tr>
        <tr class="live">
            <td>Agribiotech
                <br />
                <a href="http://agribiotech.info"><img alt="" src="http://agribiotech.info/favicon.ico" /></a>
            </td>
            <td><a class="external-link" href="http://agribiotech.info" target="_self" title="">http://agribiotech.info</a>
                <br />
                <br />
            </td>
        </tr>
        <tr class="live">
            <td>ANL
                <br />
                <a href="http://anlab.ucdavis.edu"><img alt="" src="http://anlab.ucdavis.edu/favicon.ico" /></a>
            </td>
            <td><a class="external-link" href="http://anlab.ucdavis.edu" target="_self" title="">http://anlab.ucdavis.edu</a>
                <br />
                <br />
            </td>
        </tr>
        <tr class="live">
            <td>ASI
                <br />
                <a href="http://asi.ucdavis.edu"><img alt="" src="http://asi.ucdavis.edu/favicon.ico" /></a>
            </td>
            <td><a class="external-link" href="http://asi.ucdavis.edu" target="_self" title="">http://asi.ucdavis.edu</a>
                <br />http://ltras.ucdavis.edu
                <br />http://nitrogen.ucdavis.edu
                <br />http://russellranch.ucdavis.edu
                <br />http://sarep.ucdavis.edu
                <br />http://studentfarm.ucdavis.edu
                <br />http://capp.ucdavis.edu
                <br />http://ltap.ucdavis.edu
                <br />http://childrensgarden.ucdavis.edu
                <br />http://sustainablesourcing.ucdavis.edu
                <br />http://ss.ucdavis.edu</td>
        </tr>
        <tr class="live">
            <td>Blum
                <br />
                <a href="http://blum.ucdavis.edu"><img alt="" src="http://blum.ucdavis.edu/favicon.ico" /></a>
            </td>
            <td><a class="external-link" href="http://blum.ucdavis.edu" target="_self" title="">http://blum.ucdavis.edu</a>
                <br /><a class="external-link" href="http://blumcenter.ucdavis.edu" target="_self" title="">http://blumcenter.ucdavis.edu</a></td>
        </tr>
        <tr class="live">
            <td>BWF
                <br />
                <a href="http://greenrmi.ucdavis.edu"><img alt="" src="http://greenrmi.ucdavis.edu/favicon.ico" /></a>
            </td>
            <td><a class="external-link" href="http://greenrmi.ucdavis.edu" target="_self" title="">http://greenrmi.ucdavis.edu</a></td>
        </tr>
        <tr class="live">
            <td>CABA
                <br />
                <a href="http://caba.ucdavis.edu"><img alt="" src="http://caba.ucdavis.edu/favicon.ico" /></a>
            </td>
            <td><a class="external-link" href="http://caba.ucdavis.edu" target="_self" title="">http://caba.ucdavis.edu</a></td>
        </tr>
        <tr class="live">
            <td>CAES
                <br />
                <a href="http://169.237.124.135:8080/CAES"><img alt="" src="http://169.237.124.135:8080/CAES/favicon.ico" /></a>
            </td>
            <td><a class="external-link" href="http://caes.ucdavis.edu" target="_self" title="">http://caes.ucdavis.edu</a>
                <br />http://aes.ucdavis.edu
                <br />http://discover.ucdavis.edu
                <br />http://outlook.ucdavis.edu
                <br />http://impact.ucdavis.edu
                <br />http://manrrs.ucdavis.edu
                <br />http://alumni.caes.ucdavis.edu
                <br />http://commonthreads.ucdavis.edu
                <br />http://collegecelebration.ucdavis.edu
                <br />http://commencement.caes.ucdavis.edu
                <br />http://commencement.aes.ucdavis.edu
                <br />http://news.caes.ucdavis.edu
                <br />http://outlookspeak.ucdavis.edu</td>
        </tr>
        <tr class="live">
            <td>CCUH
                <br />
                <a href="../CCUH"><img alt="" src="../CCUH/favicon.ico" /></a>
            </td>
            <td><a class="external-link" href="http://ccuh.ucdavis.edu" target="_self" title="">http://ccuh.ucdavis.edu</a></td>
        </tr>
        <tr class="live">
            <td>ChinaApple
                <br />
                <a href="http://169.237.124.123:8082/ChinaApple"><img alt="" src="http://169.237.124.123:8082/ChinaApple/favicon.ico" /></a>
            </td>
            <td><a class="external-link" href="http://echinaapple.ucdavis.edu" target="_self" title="">http://echinaapple.ucdavis.edu</a>
                <br />
                <br />
            </td>
        </tr>
        <tr class="live">
            <td>CIFAR
                <br />
                <a href="http://cifar.ucdavis.edu"><img alt="" src="http://cifar.ucdavis.edu/favicon.ico" /></a>
            </td>
            <td><a class="external-link" href="http://cifar.ucdavis.edu" target="_self" title="">http://cifar.ucdavis.edu</a></td>
        </tr>
        <tr class="live">
            <td>Computing
                <br />
                <a href="../"><img alt="" src="../favicon.ico" /></a>
            </td>
            <td><a class="external-link" href="../" target="_self" title="">http://computing.caes.ucdavis.edu</a></td>
        </tr>
        <tr class="live">
            <td>CRC
                <br />
                <a href="http://169.237.124.55:8080/CRC"><img alt="" src="http://169.237.124.55:8080/CRC/favicon.ico" /></a>
            </td>
            <td><a class="external-link" href="http://regionalchange.ucdavis.edu" target="_self" title="">http://regionalchange.ucdavis.edu</a></td>
        </tr>
        <tr class="live">
            <td>CRF
                <br />
                <a href="http://CRF.ucdavis.edu"><img alt="" src="http://crf.ucdavis.edu/favicon.ico" /></a>
            </td>
            <td><a class="external-link" href="http://crf.ucdavis.edu" target="_self" title="">http://crf.ucdavis.edu</a></td>
        </tr>
        <tr class="live">
            <td>CRU
                <br />
                <a href="../"><img alt="" src="../favicon.ico" /></a>
            </td>
            <td><a class="external-link" href="http://cru.caes.ucdavis.edu" target="_self" title="">http://cru.caes.ucdavis.edu</a></td>
        </tr>
        <tr class="live">
            <td>DTC
                <br />
                <a href="http://DTC.ucdavis.edu"><img alt="" src="http://dtc.ucdavis.edu/favicon.ico" /></a>
            </td>
            <td><a class="external-link" href="http://dtc.ucdavis.edu" target="_self" title="">http://dtc.ucdavis.edu</a></td>
        </tr>
        <tr class="live">
            <td>FFHI
                <br />
                <a href="http://ffhi.ucdavis.edu"><img alt="" src="http://ffhi.ucdavis.edu/favicon.ico" /></a>
            </td>
            <td><a class="external-link" href="http://ffhi.ucdavis.edu" target="_self" title="">http://ffhi.ucdavis.edu</a></td>
        </tr>
        <tr class="live">
            <td>GSD<em></em>
                <br />
                <a href="http://169.237.124.69:8081/GSD"><img alt="" src="http://169.237.124.69:8081/GSD/favicon.ico" /></a>
            </td>
            <td><a class="external-link" href="http://gsd.ucdavis.edu" target="_self" title="">http://gsd.ucdavis.edu</a>
                <br /><a class="external-link" href="http://gammasigmadelta.ucdavis.edu" target="_self" title="">http://gammasigmadelta.ucdavis.edu</a></td>
        </tr>
        <tr class="live">
            <td>Honey
                <br />
                <a href="../Honey"><img alt="" src="../Honey/favicon.ico" /></a>
            </td>
            <td><a class="external-link" href="http://honey.ucdavis.edu" target="_self" title="">http://honey.ucdavis.edu</a></td>
        </tr>
        <tr class="live">
            <td>IC<em></em>
                <br />
                <a href="http://169.237.124.69:8081/IC"><img alt="" src="http://169.237.124.69:8081/IC/favicon.ico" /></a>
            </td>
            <td><a class="external-link" href="http://ic.ucdavis.edu" target="_self" title="">http://ic.ucdavis.edu</a></td>
        </tr>
        <tr class="live">
            <td>iLiNS
                <br />
                <a href="http://169.237.124.55:8080/iLiNS"><img alt="" src="http://169.237.124.55:8080/iLiNS/favicon.ico" /></a>
            </td>
            <td><a class="external-link" href="http://ilins.org" target="_self" title="">http://ilins.org</a>
                <br />http://www.lns-research-network.org
                <br />http://www.lns-research.org
                <br />http://www.ilins.org
                <br />http://www.ilins-project.org
                <br />http://ilins.ucdavis.edu</td>
        </tr>
        <tr class="live">
            <td>Insecure
                <br />
                <a href="../Insecure"><img alt="" src="../Insecure/favicon.ico" /></a>
            </td>
            <td><a class="external-link" href="http://insecure.ucdavis.edu" target="_self" title="">http://insecure.ucdavis.edu</a></td>
        </tr>
        <tr class="live">
            <td>IP
                <br />
                <a href="http://ip.ucdavis.edu"><img alt="" src="http://ip.ucdavis.edu/favicon.ico" /></a>
            </td>
            <td><a class="external-link" href="http://ip.ucdavis.edu" target="_self" title="">http://ip.ucdavis.edu</a>
                <br />http://cdp.ucdavis.edu
                <br />http://leap.ucdavis.edu</td>
        </tr>
        <tr class="live">
            <td><strong>IZincG</strong></td>
            <td><a class="external-link" href="http://izincg.org" target="_self" title="">http://izincg.org</a>
                <br />http://izincg.ucdavis.edu</td>
        </tr>
        <tr class="live">
            <td>LGBTRC
                <br />
                <a href="http://169.237.124.55:8080/LGBTRC"><img alt="" src="http://169.237.124.55:8080/LGBTRC/favicon.ico" /></a>
            </td>
            <td><a class="external-link" href="http://lgbtrc.ucdavis.edu" target="_self" title="">http://lgbtrc.ucdavis.edu</a>
                <br />http://lgbt.ucdavis.edu
                <br />http://lgbtcenter.ucdavis.edu
                <br />http://lgbcenter.ucdavis.edu</td>
        </tr>
        <tr class="live">
            <td>MLloyd
                <br />
                <a href="http://margaretlloyd.ucdavis.edu"><img alt="" src="http://margaretlloyd.ucdavis.edu/favicon.ico" /></a>
            </td>
            <td><a class="external-link" href="http://margaretlloyd.ucdavis.edu" target="_self" title="">http://margaretlloyd.ucdavis.edu</a></td>
        </tr>
        <tr class="live">
            <td>NAAC
                <br />
                <a href="http://naac.ucdavis.edu"><img alt="" src="http://naac.ucdavis.edu/favicon.ico" /></a>
            </td>
            <td><a class="external-link" href="http://naac.ucdavis.edu" target="_self" title="">http://naac.ucdavis.edu</a></td>
        </tr>
        <tr class="live">
            <td>NABC
                <br />
                <a href="http://nabc.ucdavis.edu"><img alt="" src="http://nabc.ucdavis.edu/favicon.ico" /></a>
            </td>
            <td><a class="external-link" href="http://nabc.ucdavis.edu" target="_self" title="">http://nabc.ucdavis.edu</a></td>
        </tr>
        <tr class="live">
            <td>Olive
                <br />
                <a href="../olive"><img alt="" src="../olive/favicon.ico" /></a>
            </td>
            <td><a class="external-link" href="http://olivecenter.ucdavis.edu" target="_self" title="">http://olivecenter.ucdavis.edu</a>
                <br />http://oliveoil.ucdavis.edu</td>
        </tr>
        <tr class="live">
            <td>PakAg
                <br />
                <a href="http://169.237.124.123:8082/PakAg"><img alt="" src="http://169.237.124.123:8082/PakAg/favicon.ico" /></a>
            </td>
            <td><a class="external-link" href="http://epakag.ucdavis.edu" target="_self" title="">http://epakag.ucdavis.edu</a>
                <br />
                <br />
            </td>
        </tr>
        <tr class="live">
            <td>PTF
                <br />
                <a href="http://ptf.ucdavis.edu"><img alt="" src="http://ptf.ucdavis.edu/favicon.ico" /></a>
            </td>
            <td><a class="external-link" href="http://ucdptf.ucdvais.edu" target="_self" title="">http://ucdptf.ucdvais.edu</a>
                <br /><a class="external-link" href="http://ptf.ucdavis.edu" target="_self" title="">http://ptf.ucdavis.edu</a></td>
        </tr>
        <tr class="live">
            <td><strong>Rise</strong></td>
            <td><a class="external-link" href="http://chammp.ucdavis.edu" target="_self" title="">http://chammp.ucdavis.edu</a></td>
        </tr>
        <tr class="live">
            <td>RMI
                <br />
                <a href="http://169.237.124.55:8080/RMI"><img alt="" src="http://169.237.124.55:8080/RMI/favicon.ico" /></a>
            </td>
            <td><a class="external-link" href="http://rmi.ucdavis.edu" target="_self" title="">http://rmi.ucdavis.edu</a></td>
        </tr>
        <tr class="live">
            <td>RMI-tv
                <br />
                <a href="http://169.237.124.55:8080/RMI-tv"><img alt="" src="http://169.237.124.55:8080/RMI-tv/favicon.ico" /></a>
            </td>
            <td><a class="external-link" href="http://rmitv.ucdavis.edu" target="_self" title="">http://rmitv.ucdavis.edu</a></td>
        </tr>
        <tr class="live">
            <td>SBG
                <br />
                <a href="http://saladbowlgarden.ucdavis.edu"><img alt="" src="http://saladbowlgarden.ucdavis.edu/favicon.ico" /></a>
            </td>
            <td><a class="external-link" href="http://saladbowlgarden.ucdavis.edu" target="_self" title="">http://saladbowlgarden.ucdavis.edu</a></td>
        </tr>
        <tr class="live">
            <td>UCCalFresh
                <br />
                <a href="http://169.237.124.55:8080/UCCalFresh"><img alt="" src="http://169.237.124.55:8080/UCCalFresh/favicon.ico" /></a>
            </td>
            <td><a class="external-link" href="http://fsnep.ucdavis.edu" target="_self" title="">http://fsnep.ucdavis.edu</a>
                <br />uc-calfresh.com / .org / .net
                <br />uccalfresh.com / .org / .net
                <br />www.uc-calfresh.com / .org / .net
                <br />www.uccalfresh.com / .org / .net</td>
        </tr>
        <tr class="live">
            <td>UCDavis
                <br />
                <a href="http://plone.ucdavis.edu"><img alt="" src="http://plone.ucdavis.edu/favicon.ico" /></a>
            </td>
            <td><a class="external-link" href="http://plone.ucdavis.edu" target="_self" title="">http://plone.ucdavis.edu</a></td>
        </tr>
        <tr class="live">
            <td>WOW
                <br />
                <a href="../WOW"><img alt="" src="../WOW/favicon.ico" /></a>
            </td>
            <td><a class="external-link" href="../WOW" target="_self" title="">http://169.237.124.22:8080/WOW</a></td>
        </tr>
    </tbody>
</table>
</section>
