<header>
	<div class="header_contents">
		<img src="images/caesdo-logo.svg" alt="caesdo logo">
		<h1>Current Web Projects</h1>
		<h4 class="serif">College of Agricultural &amp; Environmental Sciences Dean’s Office</h4>
		<nav>
			<ul>
				<li><a href="">Current</a></li>
				<li>•</li>
				<li><a href="">Sites</a></li>
				<li>•</li>
				<li><a href="">Contact</a></li>
			</ul>
		</nav>
	</div>
</header>