<header>
	<div class="header_contents">
		<img src="images/caesdo-logo.svg" alt="caesdo logo">
		<h1>Current Web Projects</h1>
		<h4 class="serif">College of Agricultural &amp; Environmental Sciences Dean’s Office</h4>
	</div>
</header>