---
title: CA&amp;ES Web Projects
---

<section class="main">
	<p>The web development unit at CAESDO manages over 35 sites, please use the list below to see what we are currently working on.</p>
	<h2 class="section-title current">On the table</h2>
	<ol class="main_list">
		<li>
			<h2>Green RMI migration to Static Site</h2>
			<p class="timeline">May 2015 - July 2015</p>
			<p>Migrating Greenrmi to github pages and middleman static site generator</p>
			<p class="reasons"><b>Reasons:</b> failing server</p>
		</li>
		<li>
			<h2>ASI Redesign</h2>
			<p class="timeline">Feb 2014 - August 2015</p>
			<p>Complete rehaul and redesign of ASI. Quite possibily the biggest site size-wise and traffic-wise we manage.</p>
			<p class="reasons"><b>Reasons:</b> failing server, high traffic, poor site design</p>
		</li>
	</ol>
	<h2 class="section-title next">Coming Up</h2>
	<ol class="main_list">
		<li>
			<h2>E China Apple Responsive rehaul</h2>
			<p class="timeline">July 2015 - TBD</p>
			<p>TBD</p>
			<p class="reasons"><b>Reasons:</b> mobile traffic</p>
		</li>
		<li>
			<h2>FFHI Redesign</h2>
			<p class="timeline">Feb 2015 - TBD</p>
			<p>FFHI redesign to new plone server.</p>
			<p class="reasons"><b>Reasons:</b> failing server</p>
		</li>
		<li>
			<h2>Internation Programs</h2>
			<p class="timeline">TBD</p>
			<p>IP redesign to new plone server.</p>
			<p class="reasons"><b>Reasons:</b> failing server</p>
		</li>
		<li>
			<h2>CABA Rdesign</h2>
			<p class="timeline">TBD</p>
			<p>CABA redesign to new plone server.</p>
			<p class="reasons"><b>Reasons:</b> failing server</p>
		</li>
	</ol>
	<h2 class="section-title future">The future...</h2>
	<ol class="main_list"> </ol>
</section>