// fonts
    $sans-serif:        "proxima-nova",arial, sans-serif;
    $serif:             "ff-tisa-web-pro",Georgia, serif;

// pretty colors

    $primary-color:     #421B4A; // h1,h2,h3,h4 banner colors
    $secondary-color:   #b25d40; // accent color, a hovers, underlines

    $echina-teal:       #0CA2BB;
    $echina-yellow:     #FFAF34;
    $echina-red:        #E05D41;
    $echina-green:      #ACC73C;
    $echina-blue:       #1676B0;

    $primary-font:      #333433; // p,li color in main content
    $secondary-font:    #5a585c; // p,li color in portlet/sidebar
    $tertiary-font:     #A6A6A6; // summary, discreet
    
    $bg-color:          #f5f5f5; // background
    $borders:           #C8C7CC; // border color

    $ucdavis-blue:      #002855;
    $ucdavis-gold:      #C99700;

    // Supplemental bright color palette for UC Davis
    $unitrans-red:      #ba0c2f;
    $western-redbud:    #c6007e;
    $california-poppy:  #ed8800;
    $golden-lupine:     #ffcd00;
    $sunny-grass:       #78be20;
    $sky-blue:          #00b5e2;
    $recpool-blue:      #008eaa;
    $wine-grape:        #642667;

    // Supplemental neutral color palette for UC Davis
    $mu-brick:          #c26e60;
    $harthall-stucco:   #e6a65d;
    $sage-green:        #9caf88;
    $evergreen:         #00573f;
    $wintersky-gray:    #5b7f95;
    $cenwalk-gray:      #b1b3b3;
    $cork-oak:          #aca39a;
    $shingle-brown:     #4f2c1d;

// mixins

@mixin breakpoint($point) {
   @if $point == desktop {
     @media (max-width: 1250px) { @content ; }
  }
   @else if $point == laptop {
     @media (max-width: 1000px) { @content ; }
  }
  @else if $point == rufus {
     @media (max-width: 850px) { @content ; }
  }
    @else if $point == tablet {
     @media (max-width: 750px) { @content ; }
  }
  @else if $point == mobileonly {
     @media (max-width: 600px)  { @content ; }

  }
  @else if $point == smallmobile {
     @media (max-width: 450px)  { @content ; }

  }
}

@mixin container {
    max-width:1200px;
    width:80%;
    margin:0 auto;
    min-width:300px;
}